table,th,td{
    border: 2px solid;
    /* border-style: ridge; */
    border-collapse: collapse;
}

tbody{
    border-collapse: collapse;
}

.mine{
    border: none;
}

.pine{
    border: none;
}

#spin{
    background-color: blueviolet;
}

/* #splin{
    background-color: orangered;
}
#spin .strike{
    color: red;
} */

h3{
    font-family: "Caveat", cursive;
}

li{
    display: inline-block;
}

.papillo{
    height: 250px;
    width: 50px;
    display: flex;
    /* flex-direction: column; */
}

#wasebobo{
    height: 250px;
    width: 50px;
    display: flex;
    /* flex-direction: column-reverse; */
}
p{
    padding: 15px;
    margin: 10px;
    font:  bold 25px Times serif;
    font-family: "Caveat", cursive;

    color: blue;

}
li{
    display: inline;
}
